body {
  margin: 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #445870;
}

a {
  color: #0077e2;
  text-decoration: none;
}

*:focus,
*:active,
*:hover,
*:visited {
  outline: none;
}
