.list-box-common {
	height: auto;
	position: relative;
	display: table;
	border-collapse: separate;
	border: none;
	box-shadow: none;
	display: flex;
	font-size: 15px;
	padding: 8px 6px 8px 10px;
	font-weight: 400;
	cursor: pointer;
	border-bottom: 1px solid #e0e0e0;
	margin: 0px 0px;
	background-color: #fff;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}