.textarea {
  margin-right: 10px;
  margin-bottom: 10px;

  textarea {
    @extend %text-input;
    box-sizing: border-box;
    
    &.fullwidth {
      width: 100%;
    }
  }

  &__error-message {
    @extend .input__error-message
  }
  
  label {
    display: inline-block;
    margin: 3px 0;
    color: #90a1b5;
    font-size: 12px;
  }

  .no-resize{
    resize: none;
  }

}