.loading-box {
	margin: 50px 0 0 50px;
}

.list-item-box {
	max-width: 350px;
	margin: 50px 0 0 50px;
}

.button-box {
	margin: 50px 0 0 50px;
}

.pagination-box {
	margin: 50px 0 0 50px;
	max-width: 450px;
}

.form-box {
	margin: 50px 0 0 50px;
	max-width: 450px;
	.input-bottom-border {
		border:0;
		outline: 0;
		border-bottom: 1px solid black;
		border-radius:0;
		background-color: initial;
		&:focus {
			border-color:initial;
			box-shadow: initial;
		}
	}
}

.snackbar-box {
	margin: 50px 0 0 50px;
}

.listHeader-box {
	max-width: 350px;
	margin: 50px 0 0 50px;
}
.Modal-box {
	margin: 50px;
}